# GEMINI_API_KEY: Required for Gemini AI API calls.
GEMINI_API_KEY="MY_GEMINI_API_KEY"

# APP_URL: The URL where this applet is hosted.
APP_URL="MY_APP_URL"

# MONGODB_URI: The MongoDB Atlas connection string.
MONGODB_URI="mongodb+srv://202120468_db_user:9nU94F6p8F1H93zd@masterly.ffk2uoy.mongodb.net/test?retryWrites=true&w=majority"

# JWT Auth Configuration
JWT_SECRET="masterly_super_secure_jwt_secret_key_2026_x99"
JWT_EXPIRES_IN="7d"
